dist: trusty
sudo: required
language: node_js
node_js:
  - "lts/*"
before_script: 
  - sudo useradd -m -p `openssl passwd -1 vagrant` vagrant
script:
  - npm coverage
  - npm run check-coverage
after_success:
  - npm run report-coverage
after_failure:
  - sudo cat /var/log/auth.log